<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
	<div>
		<div>@Html.ActionLink("Fields","Index","Field")</div>
		<div>@Html.ActionLink("Forms","Index","Form")</div>
	</div>
	<div>
		@RenderBody()
	</div>
</body>
</html>

