<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
	<table>
		<tbody>
			<tr>
				<td>
				</td>
				<td>@RenderBody()</td>
			</tr>
		</tbody>
	</table>	
</body>
</html>

